<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="parent-div">
        <div class="sign-in-page-1-592345 pos-abs" id="id-97189">
            <div class="centered-button">
                <form action="{{ url_for('login') }}">
                    <button class="button-enlarge" id="id-97233">Get started -></button>
                </form>
                
            </div>
            <div class="do-you-miss-you-1-79325 pos-abs" id="id-97225">
                <span class="do-you-miss-you-1-79325-0">Do you miss your train tickets?</span>
            </div>
            <div class="logo-1-177742 pos-abs" id="id-97222">
                <div class="image-5-1-222720 pos-abs" id="id-97223">
                    <div class="nodeBg-97223 pos-abs image-div bg-no-repeat bg-crop" id="id-bg-97223"></div>
                </div>
                <div class="railguru-1-479192 pos-abs" id="id-97224">
                    <!-- <span class="railguru-1-479192-0">RailGuru</span> -->
                </div>
            </div>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
