<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>

    <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
</body>

</html> -->
<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
    <link rel="stylesheet" href="../static/style_login.css">
    <link rel="stylesheet" href="./animation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Login Page</h1>

        <div class="signin-container" id="signin-page">
            <div class="signin-title" id="signin-title">Sign in to RailGuru</div>
            <form method="POST" action="">
                <div class="input-field" id="name-field">
                    <label for="username" class="label" id="name-label">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-field" id="password-field">
                    <label for="password" class="label" id="password-label">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="continue-button" id="continue-button">
                    <button type="submit" class="button-bg" id="button-bg">Continue</button>
                </div>
            </form>
            <div class="signup-link" id="signup-link">Don't have an account? <a href="register.html" class="link">Sign up</a></div>
            <div class="or-container" id="or-container">
                <div class="or-line" id="or-line-left"></div>
                <div class="or-text" id="or-text">OR</div>
                <div class="or-line" id="or-line-right"></div>
            </div>
            <div class="google-signup" id="google-signup">
                <button class="google-button-bg" id="google-button-bg">Sign up with Google</button>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
</body>

</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style_login.css"> <!-- Link to external CSS file -->
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(size=32, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(size=32, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
    </form>
    <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
</body>
</html>